{% extends "MainScreen/base.html" %}
{% block content  %}
    <div class='container'>
        {% if user.is_authenticated  %}
            <div class="text-center">
            <div class="d-flex justify-content-around">
                    <div class="card border-primary mb-3" style="min-width: 18rem;">
                          <div class="card-header">Total</div>
                          <div class="card-body">
                            <h1 class="card-title">1000$</h1>
                          </div>
                    </div>
                    <div class="card border-success mb-3" style="min-width: 18rem;">
                          <div class="card-header">Revenue this month</div>
                          <div class="card-body">
                            <h1 class="card-title">500$</h1>
                          </div>
                    </div>
                    <div class="card border-danger mb-3" style="min-width: 18rem;">
                          <div class="card-header">Expenses this month</div>
                          <div class="card-body">
                            <h1 class="card-title">200$</h1>
                          </div>
                    </div>
             </div>
            <br><br>
                <div class="list-group">
                {% for transaction in transactions %}

                          <a href="{% url 'transaction-detail' transaction.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex justify-content-around">
                                <div>
                                    <img class="rounded-circle article-img" src="#">
                                </div>
                                <div>
                                <h5 class="mb-1">{{ transaction.destination }}</h5>
                                <small>{{ transaction.date }}</small>
                                </div>
                              <h1>{{ transaction.value }}</h1>
                            </div>
                          </a>

                    {% endfor %}
             </div>

                    </div>
                  {% else %}
            <div class="text-center">
                    <h3> You are not logged in! Log in or if you do not have an account create one.</h3>
                    <a type="button" class="btn btn-primary btn-lg" href="{% url 'register' %}">Register</a>
                    <a type="button" class="btn btn-secondary btn-lg" href="{% url 'login' %}">Log In</a>
            </div>
                  {% endif %}
    </div>
{% endblock content %}
